<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Item Catalog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body class="container-fluid">
    <header class="navbar d-flex flex-row">
        <h2 class="nav nav-justified"> Displaying Category {{category_name}} </h2>
        <!-- <button class="btn btn-danger float-right">Login</button> -->
        <button class="btn btn-danger float-right">
            {% if user == "" %}
            <a href='{{url_for('pickProvider')}}'>Login</a>
            {% else %}
            <a href='{{url_for('logout')}}'>{{user}} Logout</a>
            {% endif %}
        </button>
    </header>
    <div class="row">
        <div class="col-md-4">
            <h2>Categories</h2> 
            {% for c in categories%}
            <div class="row">
            {% if category_name == c. name%}
            <a href='{{url_for('categoryItems', category_name = c.name)}}' 
                    class="btn btn-primary" >
                <h2 class="col">{{c.name}}</h2>
            </a>
            {% else%}
            <a href='{{url_for('categoryItems', category_name = c.name)}}' 
                    class="btn btn-default" >
            <h4 class="col">{{c.name}}</h4>
            </a>
            {% endif%}
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4"> 
            <h2>Items for category {{category_name}}</h2>
            {% for ci in category_items%}
            <div class="row">
                <a href='{{url_for('singleItem', category_name = category_name, item_name = ci.name)}}'
                class="btn btn-default">
                    <h4 class="col">{{ci.name}} - {{ci.last_edit}}</h4>
                 </a>
            </div>
            {% endfor %}
        
        </div>
    </div>

    <!-- <div class = "row"> -->
    {% if user == "" %}
        <div class="row" style="display:none">
    {% else %}
        <div class="row">
    {% endif %}
        <form class="form" action='{{url_for('categoryItems', category_name = category_name)}}' method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="itemName">Add New Item</label>
                    <input type="text" id="itemName" placeholder="Enter New Item Name" name="newItemName">
                    <label for="itemDescription">Enter Description</label>
                    <input type="text" id="itemDescription" placeholder="Enter Item Description" name="newItemDescription">
                </div>
                <button type="submit" class="btn btn-primary">Add New Item!</button>
            </form>
        </div>
</body>