<!doctype html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Item Catalog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    
    <script src="/static/app.js"></script>
    </head>

    <body class="container-fluid">
        <header class="">
        <div class="row">
            <div class="col-sm-10">
                <p class="text-center display-3"> Welcome to Item Catalog </p>
            </div>
            <div class="login col-sm-2 pull-right">
                <button class="btn btn-danger btn-block float-right">
                    {% if user == "" %}
                    <a href='{{url_for('pickProvider')}}'>Login <br> For extras </a>
                    {% else %}
                    <a href='{{url_for('logout')}}'> Logout <br> {{user}} </a>
                    {% endif %}
                </button>
            </div>
    </div>
        </header>
        <hr>

        <div class="row">
            <div class="col-md-4">
            
            <p class="section-header display-4">Categories </p>
            <hr>
            {% for c in categories%}
                <div class="row">
                <a href='{{url_for('categoryItems', category_name = c.name)}}' 
                    class="btn btn-default" >
                    <h4 class="col">{{c.name}}</h4>
                    <br>
                </a>

                </div>
            {% endfor %}
            </div>
            <div class="col-md-4">
            <p class="section-header display-4">Latest Items</p>
            <hr>
            {% for li in latest_items%}
            <h4>{{li.name}} - {{li.last_edit}} -- {{li.category.name}}</h4>
            {% endfor %}
            </div>
            <div class="col-md-4 ">
            <p class="section-header display-4">Category Operations</p>
            <hr>
            {% if user == "" %}
                <div class = "row justify-content-center f-group" style="display:none">
            {% else %}
                <div class = "row justify-content-center f-group" >
            {% endif %}    
                <form class="" action='{{url_for('catalog')}}' method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="categoryName">Add New Category</label>
                        <br>
                        <input type="text" id="categoryName" placeholder="Enter New Category Name" name="newCategoryName">
                        <br>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Category!</button>
                </form>
            </div>
        </div>
        </div>
    </body>
</html>