<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Item Catalog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/main.css">
</head>

<body class="container-fluid">
        <header class="navbar d-flex flex-row">
            <h2 class="nav nav-justified"> Displaying Item Detail for {{item_name}} </h2>
            <button class="btn btn-danger float-right">Login</button>
        </header>
        <div class="row">
            <div class = "col"> 
                Categories
                Categories 
            {% for c in categories%}
            {% if category_name == c. name%}
            <h2>{{c.name}}</h2>
            {% else %}
            <h4>{{c.name}}</h4>
            {% endif %}
            {% endfor %}
            </div>
            <div class = "col"> 
                Items for category {{category}}
            {% for ci in category_items%}
            {% if item_name == ci.name%}
            <h2>{{ci.name}} - {{ci.last_edit}}</h2>
            {% else%}
            <h4>{{ci.name}} - {{ci.last_edit}}</h4>
            {% endif %}
            {% endfor %}
            </div>
            <div class = "col"> 
                Item details for {{item_name}}
                {{selected_item.description}}
            </div>
        </div>
        <div class = "row">
                <form class="form" action='{{url_for('singleItem', category_name = category_name, item_name = selected_item.name)}}' method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="itemName">Edit Item</label>
                        <input type="text" id="itemName" placeholder="Enter New Item Name for {{selected_item.name}}" name="editItemName">
                        <label for="itemDescription">Edit Description</label>
                        <input type="text" id="itemDescription" placeholder="Enter New Item Description for {{selected_item.description}}" name="editItemDescription">
                    </div>
                    <button type="submit" class="btn btn-primary">Edit this Item!</button>
                </form>
            </div>
        <div class="row">
            <form action='{{url_for('deleteSingleItem', category_name = category_name,  item_name = selected_item.name )}}' method="POST">
                <label for="deleteItem">You want to delete item : {{selected_item.name}} ?</label>
                <button type="submit" class="btn btn-danger"> DELETE ITEM {{selected_item.name}}</button>
            </form>
        </div>
</body>