<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Item Catalog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
        
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/main.css">
    
    </head>
    <body class="container justify-content-center">
        <div class="github">
            <button class="btn btn-block btn-dark">
                <a id="gitHubLink" href=""> Login With GitHub</a>
            </button>
        </div>
        
        <script>
            getGitHubAuth = function() {
                clientID = "37558d18bb52bdf331bb";
                redirectURI = "http://localhost:8000/login/github";
                urlString = "https://github.com/login/oauth/authorize?client_id="+clientID+"&redirect_uri="+redirectURI+"&state={{STATE}}";
                $("#gitHubLink").attr("href", urlString);
            }
            getGitHubAuth();        
        </script>
    </body>
</html>