<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Item Catalog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    
</head>
<body>
    
    <button type="submit" onclick="console.log('hey'); testClick()"></button>
    <a id="gitHubLink" href=""> Login With GitHub</a>
    <div id = "result">

    </div>
    <script>
        getGitHubAuth = function() {
        
        clientID = "37558d18bb52bdf331bb";
        
        redirectURI = "http://localhost:8000/login/github";
        
        urlString = "https://github.com/login/oauth/authorize?client_id="+clientID+"&redirect_uri="+redirectURI+"&state={{STATE}}";
        
        $("#gitHubLink").attr("href", urlString);
        }
        getGitHubAuth();        

        // Ajax call
        /*
        testClick = function(){ 
        $('#result').html("Typed by BRS");
        
        clientID = "37558d18bb52bdf331bb";
        redirectURI = "http://localhost:8000";
        urlString = "https://github.com/login/oauth/authorize?client_id="+clientID+"&redirect_uri="+redirectURI+"&state={{STATE}}";
        console.log(urlString);
        
        fetch(urlString, {
            mode: 'no-cors'
        }) .then(response => {
            console.log(response);
            if (response.ok){
                return response.json();
            }
            throw new Error('Request Failed');
        }, networkError => console.log(networkError.message)
        ).then(jsonResponse =>{
            console.log(jsonResponse);
        });
        }*/
        // End of ajax call
    </script>
</body>